<div class="flex justify-between w-full">
    @if (_isEditingTitle)
    {
        <EditForm Model="_editTitle" OnValidSubmit="SubmitTitleEdit" FormName="EditTitle" Enhance class="flex w-full">
             <InputText @bind-Value="_editTitle.Title" class="grow form-input-small text-2xl font-bold bg-transparent" />
             <button class="btn-small btn-primary mx-1" type="submit">Submit</button>
             <button type="button" class="btn-small btn-secondary" @onclick="CancelTitleEdit">Cancel</button>
         </EditForm>
    }
    else
    {
        <h1 class="font-bold text-lg break-words max-w-[calc(100%-2rem)] sm:text-2xl">@Topic.Title</h1>
        @if (CanUserEdit())
        {
            <div class="flex shrink-0">
                <button type="button" @onclick="StartTitleEdit">
                    <img src="icons/edit.svg" alt="Edit title" width="15" class="action-icon mx-1" />
                </button>
                <button type="button" @onclick="ShowDeleteTopicConfirm">
                    <img src="icons/delete.svg" alt="Delete topic" class="h-3 action-icon mx-1" />
                </button>
            </div>
        }
    }
</div>
<div class="sm:flex justify-between items-center pb-1">
    <p>#@Topic.UserName</p>
    <p>
        <img src="icons/comments.svg" alt="Messages"
             class="inline h-5 mx-1 invert-[0.2] dark:invert" />@Topic.Messages.Count
    </p>
    <p class="text-sm">Created at @Topic.CreatedAt.LocalDateTime.ToString("dd/MM/yyyy HH:mm")</p>
</div>


