@inherits LayoutComponentBase
@inject NavigationManager navigation

<nav class="bg-green-400 dark:bg-green-700">
    <div class="min-h-[3rem] flex justify-between items-center center-container">
        <a href="/" class="block ml-4 font-bold text-2xl sm:text-3xl">Discussion Forum</a>
        <AuthorizeView>
            <Authorized>
                <ProfileButton />
            </Authorized>
            <NotAuthorized>
                <a class="mx-6" href="/.auth/login/aad?post_login_redirect_uri=@navigation.Uri" data-enhance-nav="false">Log in</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>

<main>
    @Body
</main>

<div id="blazor-error-ui" class="bg-green-400 dark:bg-gray-900">
    An error has occurred.
    <a href="" class="mx-1 btn btn-secondary">Reload</a>
    <a class="dismiss">🗙</a>
</div>
