@foreach (TopicResult topic in Topics)
{
    <div class="my-4 border-gray-400 border-[1px] rounded">
        <div class="p-2 flex justify-between items-center rounded-t-[3px] bg-green-300 dark:bg-green-700">
            <a href="/topic/@topic.Id" class="font-bold text-xl hover:text-gray-900 dark:hover:text-white">@topic.Title</a>
            <p class="mx-4">
                <img src="icons/comments.svg" alt="Messages" class="inline invert-[.25] dark:invert" />
                @topic.MessageCount
            </p>
        </div>
        <div class="p-2 text-sm sm:flex justify-between items-center flex-wrap">
            <p>#@topic.UserName</p>
            <p><b>Created:</b> @topic.Created.LocalDateTime.ToString("dd/MM/yyyy HH:mm")</p>
            <p><b>Last Message:</b> @topic.LastMessageTimeStamp.LocalDateTime.ToString("dd/MM/yyyy HH:mm")</p>
        </div>
    </div>
}
@code {
    [Parameter][EditorRequired] public required List<TopicResult> Topics { get; init; }
}